@media screen and (max-width: 1169px) {
    html {
        &.overflow {
            margin-right: 0px;
        }
    }
    
    .general-button__wrapper {
        height: 48px;
        
        .wrapper {
            display: none;
        }
        
        .main-button-more {
            right: auto;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media screen and (max-width: 992px) {
    .main-caption-l {
        font-size: 26px;
    }
    
    .general-heading {
        margin-bottom: 40px;
    }
    
    .general-button--hide {
        display: none;
    }
    
    .read-more {
        .icon-arrow-more {
            padding-left: 20px;
        }
    }
    
    .main-button-more {
        margin: 0px auto;
    }
    
    .general-button__wrapper {
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0px 20px;
    }
    
    .main-caption-l {
        font-size: 22px;
    }
    
    .general-heading {
        margin-bottom: 22px;
    }
}