@media screen and (max-width: 1194px) {
    html {
        &.overflow {
            margin-right: 0px;
        }
    }
    
    .general-button__wrapper {
        margin: 0px;
        
        .wrapper {
            display: none;
        }
        
        .main-button-more {
            position: static;
            transform: none;
            margin: 30px auto 0px;
        }
    }
    
    .general-button--hide {
        display: none;
    }
    
    .breadcrumbs {
        padding-left: 40px;
    }
    
    .pagination__wrapper {
        flex-direction: column;
        align-items: center;
        
        .main-button-more {
            margin: 30px auto 0px;
        }
    }
    
    .main-filtration__wrapper {
        .general-filter__list{
            justify-content: flex-start;
        }
        
        .general-filter__item-sort {
            max-width: 320px;
            margin-left: 0px;
        }
    }
    
    .main-filtration__wrapper-favorite {
        .general-filter__list {
            justify-content: space-between;
        }
        
        .general-filter__item {
            max-width: calc(33.333% - 2px) !important;
        }
    }
}

@media screen and (max-width: 992px) {
    
    .main-caption-xl {
        font-size: 32px;
    }
    
    .main-caption-l {
        font-size: 26px;
        line-height: 30px;
    }
    
    .general-heading {
        margin-bottom: 40px;
    }
    
    .read-more {
        .icon-arrow-more {
            padding-left: 20px;
        }
    }
    
    .main-button-more {
        margin: 0px auto;
    }
    
    .general-button__wrapper {
        .main-button-more {
            margin-top: 30px;
        }
    }
    
    .main-filtration__wrapper {
        .general-filter__item {
            max-width: 340px;
        }
    }
    
    .main-filtration__wrapper-offers {
        background-color: transparent;
        box-shadow: none;
        
        .general-filter__list {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: -30px;
        }
        
        .general-filter__item {
            max-width: calc(50% - 20px) !important;
            margin-bottom: 30px;
            margin-left: 0px;
            background-color: #ffffff;
            margin-right: 0px !important;
            border-radius: 6px;
            
            .general-drop {
                margin-left: 0px;
            }
            
            &::before {
                display: none;
            }
        }
    }
    
    .main-filtration__wrapper-news {
        background-color: transparent;
        box-shadow: none;
        
        .general-filter__list {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .general-filter__item {
            margin-bottom: 30px;
            max-width: calc(50% - 20px) !important;
            background-color: #ffffff;
            margin-right: 0px !important;
            border-radius: 6px;
            
            .general-drop {
                margin-left: 0px;
            }
            
            &::before {
                display: none;
            }
        }
    }
    
    .general-tabs {
        width: calc(100% + 80px);
        margin-left: -40px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0px 20px;
    }
    
    .main-caption-xl {
        font-size: 28px;
    }
    
    .main-caption-l {
        font-size: 22px;
    }
    
    .general-heading {
        margin-bottom: 22px;
    }
    
    .breadcrumbs {
        padding-left: 20px;
    }
    
    .pagination__wrapper {
        flex-direction: column;
        align-items: center;
        
        .general-button {
            font-size: 13px;
            
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
    
    .pagination__container {
        justify-content: center;
    }
    
    .pagination__list {
        padding: 0px;
        height: 48px;
    }
    
    .pagination__item {
        display: none;
        margin-right: 0px;
        
        &:nth-child(1) {
            display: flex;
        }
    }
    
    .main-filtration__wrapper {
        .general-filter__item {
            max-width: 265px;
            margin-left: 0px;
        }
    }
    
    .general-tabs {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    
    .general-tabs__list {
        
        padding: 25px 35px;
    }
    
    .main-filtration__wrapper-favorite {
        background-color: transparent;
        
        .general-filter__list {
            justify-content: space-between;
        }
        
        .general-filter__item {
            max-width: 100% !important;
            margin-bottom: 30px;
            background-color: #ffffff;
            border-radius: 6px;
            margin-right: 0px !important;
            
            &::before {
                display: none;
            }
        }
    }
    
    /* Reviws */
    
    .add-reviews {
        &.active {
            padding: 25px;
            max-height: 600px;
        }
        
        .input__wrapper {
            width: 100%;
            margin-bottom: 25px;
        }
        
        .textarea__wrapper {
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width: 576px) {
    
    .general-button__wrapper {
        .main-button-more {
            max-width: 100%;
            position: relative;
        }
        
        &.container {
            .main-button-more {
                right: 0px;
            }
        }
    }
    
    .general-heading {
        
        &.more {
            flex-wrap: wrap;
            flex-direction: column;
            
            .read-more {
                margin-top: 25px;
            }
        }
    }
    
    .main-filtration__wrapper {
        background-color: transparent;
        
        .general-filter__list {
            flex-direction: column;
        }
        
        .general-filter__item {
            max-width: 100%;
            margin-left: 0px;
            background-color: #ffffff;
            margin-right: 0px;
            border-radius: 6px;
            
            &:first-child {
                margin-bottom: 30px;
            }
            
            &::before {
                display: none;
            }
        }
    }
    
    .main-filtration__wrapper-news {
        .general-filter__item {
            max-width: 100% !important;
        }
    }
    
    .main-filtration__wrapper-offers {
        .general-filter__list {
            margin-bottom: 0px;
        }
        
        .general-filter__item {
            max-width: 100% !important;
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    
    .main-filtration__wrapper-best-company {
        .general-filter__item {
            max-width: 100% !important;
        }
    }
}