@media screen and (min-width: 1170px) {
    /* Header */
    
    .general-drop {
        &:hover {
            border-color: #f5f5f5;
        }
    }
    
    .general-drop__text {
        &:hover {
            background-color: #f5f5f5;
            color: #2c922c;
        }
        
        &:active {
            color: #f5850c;
            transition: none;
        }
    }
    
    .general-filter__button {
        &:hover {
            background-color: #f5f5f5;
            
            .general-drop-input {
                color: #2c922c;
            }
            
             &:active {
                color: #f5850c;
                transition: none;
                
                .general-drop-input {
                    color: #f5850c;
                    transition: none;
                }
                
                .icon-drop {
                    color: #f5850c;
                }
            }
        }
    }
    
    .header__nav-item.js-drop-item,
    .header__change-lang  {
        &:hover {
            border-color: rgb(234, 234, 234);
            
            
            .general-drop-input {
                color: #2c922c;
            }
            
            span {
                color: #2c922c;
            }
            
            .general-drop__wrapper  {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s .2s;
                z-index: 2;
            }
            
            .icon-drop {
                transform: rotate(180deg);
            }
        }
    }
    
    .general-drop__item {
        &:hover {
            background-color: #f7f7f7;
            color: #2c922c;
        }
        
        &:active {
            color: #f5850c;
            transition: color .1s;
        }
    }
    
    .header__nav-link{
        &:hover {
            color: #2c922c;
        }
        
        &:active {
            color: #f5850c;
            transition: color .1s;
        }
    }
    
    .header__item {
        &:nth-child(1) {
            .header__link {
                &:hover {
                    color: #f5850c;
                    .header__link-img {
                        background-image: url(../img/header-img-hover-1.svg);
                    }
                }
            }
        }
        
        &:nth-child(2) {
            .header__link {
                &:hover {
                    .header__link-img {
                        background-image: url(../img/header-img-hover-2.svg);
                    }
                }
            }
        }
        
        &:nth-child(3) {
            .header__link {
                &:hover {
                    .header__link-img {
                        background-image: url(../img/header-img-hover-3.svg);
                    }
                }
            }
        }
        
        &:nth-child(4) {
            .header__link {
                &:hover {
                    .header__link-img {
                        background-image: url(../img/header-img-hover-4.svg);
                    }
                }
            }
        }
    }
    
    .header__link {
        &:hover {
            color: #2c922c;
            background-color: #f5f5f5;
        }
        
        &:active {
            border-color: #eaeaea;
            background: none;
            transition: none;
        }
    }
    
    .header__search-button {
        &:hover {
            color: #2c922c;
        }
    }
    
    .header__button {
        &:hover {
            color: #f5850c;
            background-color: #f5f5f5;
        }
    }
    
    .header__button__favorite {
        &:active {
            .icon-heart-outline{
                &::before {
                    content: "\e906";
                }
            }
        }
    }
    
    .header__button-noty {
        &:active {
            .icon-bell-outline  {
                &::before {
                    content: "\e90f";
                }
            }
        }
    }
    
    .general-button-color {
        &:hover {
            background-color: #4ad14a;
            color: #ffffff;
            
            &:active {
                background-color: #2c922c;
                transition: none;
            }
        }
    }
    
    .noty__info__description {
        &:hover {
            color: #2c922c;
        }
        
        &:active {
            color: #f5850c;
            transition: none;
        }
    }
    
    .header__noty__item {
        &:hover {
            background-color: #f7f7f7;
        }
    }
    
    /* // Header */
    
    /* General */
    
    .pagination__item {
        &:hover {
            background-color: #eaeaea;
            color: #2c922c;
        }
    }
    
    .general-tabs__item {
        &:hover {
            color: #2c922c;
        
            &::before {
                background-color: #7bc97b;
            }
        }
    }
    
    .breadcrumbs__item {
        &:hover {
            color: #3D3D3D;
        }
    }
    
    .main-input,
    .main-textarea {
        &:hover {
            border-color: #d3d3d3;
        }
    }
    
    
    .general-button,
    .main-button-more {
        &:hover {
            color: #2c922c;
            background-color: #ffffff;
            
             &:active {
                border-color: #d3d3d3;
                transition: none;
            }
        }
        
       
    }
    
    .main-button {
        &:hover {
            background-color: #4ad14a;
            box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
            
            &:active {
                background-color: #2c922c;
                transition: none;
            }
        }
        
        
    }
    
    .filter-button {
        &:hover {
            background-color: #f5850c;
            
            &:active {
                background-color: #da770c;
                transition: none;
            }
        }
    }
    
    .read-more {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }

    }
    
    .social-link {
        &:hover {
            color: #2c922c;
            
            &:active {
                background-color: #2c922c;
                
                .icon-link-variant:before {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-facebook {
        &:hover {
            color: #3b5998;
            
            &:active {
                background-color: #3b5998;
                
                .icon-facebook {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-twitter {
        &:hover {
            color: #1da1f2;
            
            &:active {
                background-color: #1da1f2;
                
                .icon-twitter:before {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-instagram {
        &:hover {
            color: #e1306c;
            
            &:active {
                background-color: #e1306c;
                
                .icon-instagram {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-youtube {
        &:hover {
            color: #ff0000;
            
            &:active {
                background-color: #ff0000;
                
                .icon-youtube {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-vk {
        &:hover {
            color: #45668e;
            
            &:active {
                background-color: #45668e;
                
                .icon-vk:before {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-telegram {
        &:hover {
            color: #0088cc;
            
            &:active {
                background-color: #0088cc;
                
                .icon-telegram:before {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    .social-message {
        &:hover {
            color: #2c922c;
            
            &:active {
                background-color: #2c922c;
                
                .icon-message:before {
                    color: #ffffff;
                    transition: none;
                }
            }
        }
    }
    
    /* // General */
    
    /* Main slider */
    
    .main-slider__dots-button {
        &:hover {
            background-color: rgb(69, 221, 69);
            
            &:active {
                background-color: #2c922c;
                transition: none;
            }
        }  
    }
    
    .general-button__wrapper-main {
        .general-button {
            &:hover {
                color: #2c922c;
                background-color: rgba(255, 255, 255, 0.7);
                
                &:active {
                    border: 4px solid rgb(234, 234, 234);
                    background-color: #ffffff;
                }
            }
        }
    }
    
    /* Main slider */
    
    /* Main filter */
    
    .filter-check__decor-wrapper {
        &:hover {
            border-color: #4ad14a;
        }
    }
    
    .filter-check__decor {
        &:hover {
            background-color: #4ad14a;
            
            &:active {
                background-color: #2c922c;
                transition: none;
            }
        }

    }
    
    .general-filter__item {
        &:hover {
            .general-filter__button {
                color: #2c922c;
            }
        }
    }
    
    .general-filter__button {
        &:hover {
            color: #2c922c;
        }
    }
    
    .catalog__open-more {
        &:hover {
            color: #2c922c;
        }
    }
    
    .general__open {
        &:hover {
            color: #2c922c;
            
            &:active {
                border-color: #d3d3d3;
            }
        }
        
        
    }
    
    /* // Main filter */
    
    /* Product */
    
    .button-compare {
        &:hover {
            color: #2c922c;
        }
        
        &.active {
            &:hover {
                color: #f39631;
            }
        }
    }
    
    .button-favorites {
        &:hover {
            color: #f5850c;
        }
        
        &.active {
            &:hover {
                color: #f5850c;
            }
        }
    }
    
    .product__img {
        &:hover {
            + .product__item__body {
                .product__name {
                    color: #2c922c;
                }
                
                .product__text {
                    color: #2c922c;
                }
            }
        }
        
    }
    
    .product__name {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    .product__text {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    .product__item {
        &:hover {
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
        }
    }
    
    .product-page__plan-item {
        &:hover {
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
            
            .name {
                color: #2c922c;
            }
            
            &:active {
                .name {
                    color: #f5850c;
                }
            }
        }
    }
    
    .product-page__reviews-header {
        .main-button {
            &.active {
                &:hover {
                    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
    
    .reviews-page {
        .general-heading {
            .main-button {
                &.active {
                    &:hover {
                        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }
    
    /* //Product */
    
    /* Popular */
    
    .popular-sub-name__item {
        &:hover {
            color: #168816;
            
            &::before {
                background-color: #2c922c;
            }
            
            &:active {
                color: #f5850c;
                transition: none;
                
                &::before {
                    background-color: #f5850c;
                    transition: none;
                }
            }
        }
    }
    
    .popular-button {
        &:hover {
            color: #f5850c;
            background-color: #f5f5f5;
        }
    }
    
    .popular__name {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    /* //Popular */
    
    /* Subscribe */
    
    .subscribe-block__form {
        .main-input {
            &:hover {
                background-color: #f5f5f5;
                border-color: #d3d3d3;
            }
            
            &:focus {
                background-color: #ffffff;
                border-color: #d3d3d3;
            }
        }
    }
    
    .subscribe-block__button {
        &:hover {
            background-color: #2c922c;
            
            &:active {
                background-color: #117a11;
                transition: none;
            }
        }
    }
    
    /* //Subscribe */
    
    /* FAQ */
    
    .faq__tabs__item {
        &:hover {
            color: #2c922c;
            
            &::before {
                background-color: #2c922c;
            }
            
            &:active {
                color: #f5850c;
                transition: none;
                
                &::before {
                    background-color: #f5850c;
                    transition: none;
                }
            }
        }
    }
    
    .researches__link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    /* /FAQ */
    
    /* Dictionary */
    
    .dictionary__letter-link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    /* Company page */
    
    .company-page__links-link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transform: none;
            }
        }
    }
    
    /* Best company */
    
    .best-company__item {
        &:hover {
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
            
            .best-company__name {
                background-color: #ffffff;
                color: #2c922c;
            }
            
            &:active {
                .best-company__name {
                    color: #f5850c;
                    transition: none;
                }
            }
        }
    }
    
    
    /* // Best Company */
    
    /* Reviews */
    
    .reviews-tabs__item {
        &:hover {
            color: #2c922c;
        
            &::before {
                background-color: #7bc97b;
            }
        }
    }
    
    /* /Reviews */
    
    /* Product page */
    
    .general-noty__button {
        &:hover {
            color: #cd8332;
        }
    }
    
    .general-noty__button-compare {
        &:hover {
            color: #2c922c;
        }
    }
    
    .product-page__img-item {
        &:hover {
            &::before {
                background-color: rgba(255, 255, 255, 0.3);
                border-color: #d3d3d3;
            }
        }
    }
    
    .product-page__same__item {
        .name {
            &:hover {
                color: #2c922c;
                
                &:active {
                    color: #f5850c;
                }
            }
        }
        
        &:hover {
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
            .name {
                color: #2c922c;
            }
        }
    }
    
    /* Product page */
    
    /* Article */
    
    .article-main__recommendation {
        a {
            &:hover {
                color: #f5850c;
            }
        }
    }
    
    .article-page__link {
        &:hover {
            color: #f5850c;
        }
    }
    
    /* Popup */
    .close-popup {
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            
             .decor {
                 &::before,
                 &::after {
                     background-color: #3d3d3d;
                 }
            }
            
            &:active {
                background-color: rgba(255, 255, 255, 0.8);
                border-color: #d3d3d3;
                transition: none;
            }
        }
    }

    .close-popup-inner {
        &:hover {
            .decor {
                 &::before,
                 &::after {
                     background-color: #000000;
                 }
            }
            
            &:active {
                border-color: #d3d3d3;
                transition: none;;
            }
        }
    }
    
    .popup-button {
        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
            color: #2c922c;
            
             &:active {
                border-color: #eaeaea;
                transition: none;
            }
        }
    }

    /* //Popup */
    
    /* Footer */
    
    .popup-footer {
        .close-popup {
            &:hover {
                background-color: #f5f5f5;
            }
            
            &:active {
                border-color: #d3d3d3;
            }
        }
    }
    .footer__social-link {
        &:hover {
            background-color: #f5f5f5;
        }
    }
    
    .footer__call-back__button {
        &:hover {
            color: #f5850c;
            
            &:active {
                color: #da770c;
                transition: none;
            }
        }
    }
    
    .footer__menu__link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #055c05;
                transition: none;
            }
        }
    }
    
    .footer__sub-button {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #055c05;
            }
        }
    }
    
    .footer__sub-category__link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #055c05;
            }
        }
    }
    
    .footer__copyright__link {
        &:hover {
            background-color: #373737;
            
            &:active {
                background-color: #2c2c2c;
                transition: none;
            }
        }
    }
    
    /* Footer */
    
    /* Pre catalog */
    
    .button-distance {
        &:hover {
            background-color: #f5f5f5;
            color: #2c922c;
        }
    }
    
    .catalog__filter-button {
        &:hover {
            background-color: #f5850c;
            color: #fefffe;
            
            &:active {
                background-color: #da770c;
                transition: none;
            }
        }
    }
    
    .filter-selected__item {
        &:hover {
            color: #2c922c;
        }
    }
    
    .catalog-filter__drop {
        .general-drop__item {
            &:hover {
                .icon-drop {
                    opacity: 1;
                }
            }
        }
    }
    
    .catalog-filter__form {
        &:hover {
            &::before {
                border-color: #d3d3d3;
            }
        }
        
        .input__wrapper {
            &:first-of-type {
                &:hover {
                    .main-input {
                        &::placeholder {
                            color: #2c922c;
                        }
                        
                        ~ .icon-place-big {
                            color: #2c922c;
                        }
                    }
                }
            }
        }
        
        &:hover {
            .main-input {
                border-color: #d3d3d3;
            }
        }
    }
    
    /* Pre catalog */
    
    /* Catalog */
    
    .catalog__filtration__item {
        &:hover {
            color: #2c922c;
            border-color: #2c922c;
            background-color: #ffffff;
        }
    }
    
    .catalog__clear {
        &:hover {
            color: #ff2c2c;
            
            &:active {
                .icon-clear {
                    color: #ffffff;
                    background-color: #ff2c2c;
                }
            }
        }
    }
    
    /* Call back */
    
    .checkbox__wrapper {
        &:hover {
            .custome-checkbox {
                border-color: #2c922c;
                color: #2c922c;
                background-color: #ffffff;
            }
        }
    }
    
    .call-back__button {
        &:hover {
            border-color: #f5850c;
            
            &:active {
                background-color: #da770c;
                border-color: #da770c;
                transition: none;
            }
        }
    }
    
    /* Call back */
    
    /* Comparison */
    
    .comparison__header-add-new {
        a {
            &:hover {
                color: #2c922c;
                
                .decor {
                    border-color: #7bc97b;
                }
                
                .icon-plus {
                    color: #7bc97b;
                }
                
                &:active {
                    color: #f39631;
                    transition: none;
                    
                    .decor {
                        border-color: #f39631;
                        transition: none;
                    }
                    
                    .icon-plus {
                        color: #f39631;
                        transition: none;
                    }
                }
            }
        }
    }
    .comparison {
        .general-drop__wrapper {
            .general-drop__item {
                &:hover {
                    .checkbox-text {
                        color: #2c922c;
                    }
                }
            }
        }
    }
    
    .comparison__product__item {
        .comparison__delete {
            &:hover {
                background-color: #ffffff;
            }
        }
        
        .general-noty__button {
            &:hover {
                background-color: #ffffff;
            }
        }
    } 
    
    .comparison__button {
        &:hover {
            background-color: #f5850c;
            
            + .comparison__button__placeholder {
                opacity: 1;
                visibility: visible;
                transition: opacity .4s, visibility 0s 0s;
            }
            
            &:active {
                transition: none;
            }
        }
    }
    
    .comparison__button-call-back {
        &:hover {
            &:active {
                background-color: #2c922c;
            }
        }
    }
    
    .comparison__button-write {
        &:hover {
            &:active {
                background-color: #2c922c;
            }
        }
    }
    
    .comparison__button-meeting {
        &:hover {
            &:active {
                background-color: #da770c;
            }
        }
    }
    
    .comparison__button-buy {
        &:hover {
            &:active {
                background-color: #da770c;
            }
        }
    }
    
    .comparison__product__link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    /* Best-company-info */
    
    .best-company-info__item {
        &:hover {
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
        }
    }
    
    .best-company-info__header {
        h4 {
            &:hover {
                color: #2c922c;
                
                &:active {
                    color: #f5850c;
                    transition: none;
                }
            }
        }
    }
    
    .best-company-info__button {
        &:hover {
            color: #f5850c;
        }
    }
    
    .best-company-info___social-link {
        &:hover {
            .icon-facebook {
                color: #3b5998;
            }
            
            .icon-instagram {
                color: #e1306c;
            }
        }
        
        &:active {
            transition: none;
        }
    }
    
    .best-company-info__social-item {
        &:nth-child(1) {
            .best-company-info___social-link {
                &:active {
                    background-color: #3b5998;
                    
                    .icon-facebook {
                        color: #ffffff;
                        
                    }
                }
            }
        }
        
        &:nth-child(2) {
            .best-company-info___social-link {
                &:active {
                    background-color: #e1306c;
                    
                    .icon-instagram {
                        color: #ffffff;
                        
                    }
                }
            }
        }
    }
    
    /* //Best company info */
    
    /* Rating */
    
    .rating-block__table-link {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
    
    /* //Rating */
    
    /* Info block */
    
    .info-block__spoiler__button {
        &:hover {
            color: #2c922c;
            
            &:active {
                color: #f5850c;
                transition: none;
            }
        }
    }
}
