
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e916";
}
.icon-phone:before {
  content: "\e903";
}
.icon-link-variant:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-telegram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-vk:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-active:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-arrow-more:before {
  content: "\e90a";
}
.icon-arrow-pagi-left:before {
  content: "\e90b";
}
.icon-arrow-pagi-right:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-arrow-small:before {
  content: "\e90e";
}
.icon-bell:before {
  content: "\e90f";
}
.icon-bell-outline:before {
  content: "\e910";
}
.icon-city-variant-outline:before {
  content: "\e911";
}
.icon-clear:before {
  content: "\e912";
}
.icon-comment-text-outline:before {
  content: "\e913";
}
.icon-compare:before {
  content: "\e914";
}
.icon-drop:before {
  content: "\e915";
}
.icon-eyes:before {
  content: "\e917";
}
.icon-full:before {
  content: "\e918";
}
.icon-heart:before {
  content: "\e919";
}
.icon-heart-outline:before {
  content: "\e91a";
}
.icon-house:before {
  content: "\e91b";
}
.icon-map-marker-outline:before {
  content: "\e91c";
}
.icon-message:before {
  content: "\e91d";
}
.icon-pagi-left:before {
  content: "\e91e";
}
.icon-pagi-right:before {
  content: "\e91f";
}
.icon-phone-outline:before {
  content: "\e920";
}
.icon-place:before {
  content: "\e921";
}
.icon-place-big:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-star:before {
  content: "\e924";
}
.icon-web:before {
  content: "\e925";
}

