// Popup

.popup {
    display: none;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
    
    &.active {
        display: flex;
        
        .popup-content {
            animation: popup-scale .6s;
        }
    }
}

.popup__wrapper {
    width: 100%;
    margin: auto 0px;
    position: relative;
    animation: popup-scale .5s;
    
    &.popup-reviews {
        max-width: 540px;
        padding-top: 100px;
        
        .close-popup {
            top: 30px;
        }
    }
}


@keyframes popup-scale {
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}

.close-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 4px solid transparent;
    position: absolute;
    right: 0px;
    top: -70px;
    transition: background-color .4s;
    z-index: 3;

    .decor {
        width: 14px;
        height: 14px;
        position: relative;
        transform: rotate(-45deg);
        
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 50%;
            width: 100%;
            height: 1px;
            transform: translateY(-50%);
            background-color: #ffffff;
            transition: background-color .4s;
        }
        
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0px;
            width: 1px;
            height: 100%;
            transform: translateX(-50%);
            background-color: #ffffff;
            transition: background-color .4s;
        }
    }
}

.popup-reviews {
    .reviews__item {
        width: 100%;
        margin-right: 0px;
    }
    
    .reviews__text {
        max-height: 100%;
        display: block;

    }
}

.popup-call-back {
    max-width: 720px;
    border-radius: 6px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 55px 60px 60px;
}

.close-popup-inner {
    top: 5px;
    right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    border: 4px solid transparent;
    background-color: transparent;
    
    .decor {
        &::before,
        &::after {
            background-color: #3d3d3d;
        }
    }
}

.popup-caption {
    font-family: "Circe", sans-serif;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.popup-call-back__form {
    .input__wrapper {
        margin-bottom: 27px;
    }
    
    .main-textarea {
        height: 88px;
    }
    
    .main-button {
        max-width: 270px;
        height: 48px;
        margin: 40px auto 0px;
    }
    
    .main-input,
    .main-textarea {
        &::placeholder {
            color: #949494;
        }
    }
    
    .input__caption {
        color: #3d3d3d;
    }
}

.popup-call-back__meeting-wrapper {
    display: flex;
    justify-content: space-between;
    
    .input__wrapper {
        width: calc(50% - 15px);
    }
}

/* Popup full screen */

.popup-full-screen {
    .close-popup {
        top: 30px;
        right: 30px;
    }
}


.popup-full-screen__wrapper {
    max-width: 1000px;
    padding: 30px 0px;
}

.popup-full-screen__list {
    position: relative;
    width: 100%;
    height: 680px;
}

.popup-full-screen__item {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-150%);
    opacity: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity .4s, transform .8s;
    
    &.show {
        transform: translateX(0);
        opacity: 1;
        
        ~ .popup-full-screen__item {
            transform: translateX(150%);
            opacity: 0;
        } 
    }
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 30px;
    width: calc(100% - 60px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    width: 40px;
    height: 48px;
    color: #ffffff;
    border: 4px solid transparent;
    transition: background-color .4s, color .4s;
    
    span {
        font-weight: 700;
        font-size: 20px;
    }
    
    &.disabled {
        opacity: 0.6;
        cursor: initial;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffffff;
            
            &:active {
                border: none;
            }
        }
    }
}

.popup-full-screen-plan__wrapper {
    max-width: 300px;
    
    .product-page__plan-list {
        position: relative;
        width: 100%;
        height: 400px;
    }
    
    .product-page__plan-item {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        cursor: initial;
        padding: 0px;
        border-radius: 0px;
        opacity: 0;
        transform: translateX(-300%);
        transition: opacity .6s, transform .6s;
        
        &.show {
            transform: translateX(0%);
            opacity: 1;
            
            + .product-page__plan-item {
                transform: translateX(300%);
                opacity: 0;
            }
        }
        
        .name {
            position: absolute;
            color: #fefefe;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 1366px) {
    .popup-full-screen__list {
        height: 550px;
    }
    
    .popup-full-screen__wrapper {
        padding: 30px 15px;
    }
}

@media (max-width: 992px) {
    .popup-full-screen__list {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .popup-call-back {
        padding: 25px 30px 30px;
    }
    
    .popup-call-back__meeting-wrapper {
        flex-direction: column;
        
        .input__wrapper {
            width: 100%;
        }
    }
}